{:paths ["src/clj" "src/resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.5"}
        io.github.getcolors/green {:git/url "https://github.com/getcolors/green.git"
                                   :git/sha "3f33f5d4dcce1f8d97a11b6972e13eb3f0b37654"}
        io.github.getcolors/colors-compute {:git/url "https://github.com/getcolors/colors-compute.git"
                                            :git/sha "3451a05e719b0ad6809f3c88b241a8c010b8f58b"
                                            :deps/root "green"}}
 :aliases {:dev {:extra-paths ["test/clj" "test/resources"]}
           :test {:extra-paths ["test/clj" "test/resources"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :exec-fn cognitect.test-runner.api/test}}}
